set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'RPM9-KS1'

### BEGIN /etc/grub.d/10_linux ###
menuentry "User Install" --class fedora --class gnu-linux --class gnu --class os {
#    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=RPM9-KS1 net.ifnames=0 inst.ks=cdrom:/ks.cfg ip=192.168.88.90::192.168.88.1:24:tmplhost:eth0:on nameserver=192.168.88.1
    linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=RPM9-KS1 net.ifnames=0 inst.ks=cdrom:/ks.cfg
    initrdefi /images/pxeboot/initrd.img
}

menuentry 'Install Oracle Linux 9.5.0' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=RPM9-KS1 quiet
	initrdefi /images/pxeboot/initrd.img
}
menuentry 'Test this media & install Oracle Linux 9.5.0' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=RPM9-KS1 rd.live.check quiet
	initrdefi /images/pxeboot/initrd.img
}
submenu 'Troubleshooting -->' {
	menuentry 'Install Oracle Linux 9.5.0 in text mode' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=RPM9-KS1 inst.text quiet
		initrdefi /images/pxeboot/initrd.img
	}
	menuentry 'Rescue a Oracle Linux system' --class fedora --class gnu-linux --class gnu --class os {
		linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=RPM9-KS1 inst.rescue quiet
		initrdefi /images/pxeboot/initrd.img
	}
}
